<div class="row">
	<div class="reciept">
			<ul class="no-bullet">
        {{view Ember.TextField valueBinding="customerEmail" placeholder="Customer Email."}}
				{{#each lineItems}}
					<li><h6>{{name}} <span>${{money priceCents}}</span></h6></li>
				{{/each}}
				<li class="sub text-right">
					Sub Total ${{money cents}}
				</li>
				<li class="sub text-right">
					Tax: ${{money tax}}</br>
				</li>

		    <li id="total"><h3>Total <span>${{money total}}</span></h3></li>
			</ul>
			<div class="text-center">
				<button {{action payment}} class="button small">take payment</button>
			</div>

	</div>
	<div class="dashboard">
		<div class="products">
			{{render 'category'}}
			{{outlet}}
		</div>
		<div class="categories">
			{{render 'categories'}}
		</div>
	</div>

</div>