<h1>Editing <small>{{nameAndPrice}}</small></h1>

<form {{action 'save' on='submit'}}>
  {{input value=name type='text'}}
  {{textarea value=description}}
  {{input value=priceCents type="text"}}
  {{input value=nameAndPrice type="text"}}

  {{input type="submit" value="submit" class="button"}}
</form>
