
<div class='row'>
  <div class='twelve columns'>
    <button {{action markPaid}} class="button small">Credit Card</button>
    <button {{action markPaid}} class="button small">Check</button>
    <button {{action markPaid}} class="button small">Exact Cash</button>
  </div>
</div>
<div class='row'>
	<form>
		{{view Ember.TextField valueBinding="amountTendered" id="amount-tendered" placeholder="$The Amount Tendered" required="true"}}
  	<button {{action tender target='controller'}} class="button small">Tender</button>
  	<h5>Change Due: {{changeDue}}</h5>
	</form>
	{{total}}

</div>


