
<div class='row'>
  <div class='twelve columns'>
    <button {{action 'tender' target='controller'}} class="button small">Credit Card</button>
    <button {{action 'tender' target='controller'}} class="button small">Check</button>
    <button {{action 'tender' target='controller'}} class="button small">Exact Cash</button>
  </div>
</div>
<div class='row'>
	<div class='twelve columns'>
		<form>
			{{view Ember.TextField valueBinding="amountTendered" placeholder="The Amount Tendered" required="true"}}
			<h5>Change Due: {{money changeDue}}</h5>
	  	<button {{action 'tender' target='controller'}} class="button small">Tender</button>
		</form>
	</div>
</div>