<%= simple_form_for([:admin,@admin_product]) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :description %>
    <%= f.input :upc_code, label: 'UPC Code' %>
    <%= f.input :price %>
    <%= f.input :category_id, collection: Category.all %>
  </div>
<br />
  <div class="form-actions">
    <%= f.button :submit, class: "radius" %>
    
  </div>
<% end %>
