<div class="row">
  <h1 class="center">Admin Product Section</h1>
    <div class="small-2 large-8columns, spaced">

        <table class="producttablewidth">
          <tr class="title">
            <th>Name</th>
            <th>Description</th>
            <th>UPC code</th>
            <th>Price</th>
            <th>Category</th>
            <th></th>
            <th></th>
            <th></th>
          </tr>

        <% @admin_products.each do |product| %>
          <tr>
            <td><%= product.name %></td>
            <td><%= product.description %></td>
            <td><%= product.upc_code %></td>
            <td><%= number_to_currency(product.price_cents/100.0) if product.price_cents %></td>
            <td><%= product.category.name if product.category %></td>
            <td class="bold"><%= link_to 'Edit', edit_admin_product_path(product) %></td>
            <td class="bold"><%= link_to 'Delete', admin_product_path(product), method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
        </table>

        <br />

        <%= link_to 'New Product', new_admin_product_path, class: "button radius " %>
    </div>
</div>

<br />