<h3>{{name}}</h3>

<ul class = "products-list">
	{{#each product in products}}
		<li>
			<a href="#" {{action "addListItem" product}}>
				<div class="panel">
					<h4>{{product.name}} <small>{{product.id}}</small></h4>
					<p>{{product.shortDescription}}</p>
					<strong>${{money product.priceCents}}</strong>
				</div>
			</a>
		</li>
	{{/each}}
</ul>
{{outlet}}
