<h2>{{name}}</h2>

<ul class = "products-list">
	{{#each products}}
		<li>
			<div class="panel">
				<h4>{{name}} </h4>
				<p>{{description}}</p>
				<strong>${{money priceCents}}</strong>
			</div>
		</li>
	{{/each}}
</ul>
{{outlet}}
