<h2>{{name}}</h2>

<ul class"small-block-grid-2 large-block-grid-4">
	{{#each products}}
		<li>
			<h4>{{name}} </h4>
			<p>{{description}}</p>
			<strong>${{money priceCents}}</strong>
		</li>
	{{/each}}
</ul>
{{outlet}}
