<h3>{{name}}</h3>
<ul class="products-list">
	{{#each product in products}}
		<li>
			<a href="#" {{action "addListItem" product}}>
				<div class="panel">
					<h4>{{product.name}}</h4>
					<p class='mbn'>
						{{product.shortDescription}}
						{{#if product.taxable}}:{{/if}}
					</p>
					<div class="money">
						${{money product.priceCents}}
					</div>
				</div>
			</a>
		</li>
	{{/each}}
</ul>
{{outlet}}
