<div class="row">
	<div class="reciept">
		<ul class="no-bullet">

			{{#each lineItem in controller}}
		    <li><h4>{{lineItem.productId}} <span>${{money cents}}</span></h4></li>
	    {{else}}
		    <ul>
					{{#each order in controller}}
						<li>{{#linkTo order order}}{{order.customerEmail}}{{/linkTo}}</li>
					{{/each}}
				</ul>
	    {{/each}}
	    <li id="total"><h3>Total <span>${{money cents}}</span></h3></li>
		</ul>

	</div>
	<div class="products">
		{{outlet}}
	</div>
	<div class="categories">
		{{render 'categories'}}
	</div>
</div>